
# my stuff
notes.org

# untracked directories
tests/*
release/
debug/
build/

### C ###

# Object files
*.o

# Debug files
*.dSYM/

### Valgrind ###
# Callgrind output files
callgrind.out
callgrind.out.*

# Cachegrind output files
cachegrind.out
cachegrind.out.*

# Massif output files
massif.out
massif.out.*

# BBV output files
bb.out
bb.out.*

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
.\#*

.dir-locals.el

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json